* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto-condensed;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
}

@font-face {
    font-family: Roboto-condensed;
    src: url("./assets/RobotoCondensed-Regular.ttf");
}

h1,
h2,
h3 {
    font-size: 1.5em;
    line-height: 2em;
    font-family: Roboto-condensed;
}

main {
    background-color: #feffff;
}

main button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.title-fade-in{
    opacity: 0;
    animation: fade-in 2s ;
}

.title-fade-out{
    opacity: 1;
    animation: fade-out 2s ;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border: 2px solid #E4DFDA;
    border-radius: 10px;
}

.project a:link {
    text-decoration: none;
    color: black;
}

.project a:visited {
    text-decoration: none;
    color: black;
}

.project a:hover {
    text-decoration: none;
    color: black;
}

.project a:active {
    text-decoration: none;
    color: black;
}

.project:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.project img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profiles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-direction: row;
    background-color: rgba(23, 37, 42, 0.5)
}

.profile {
    padding: 5px;
    margin: 5px;
}

.profile img {
    width: 35px;
    border-radius: 5px;
}

@media (min-width: 870px) {
    .project {
        width: 28%;
    }
}